@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
     @Styles.Render("~/bundles/css")
</head>
<body>
    <div id="wrap">
        <div id="header">I"m in a header</div>
        <div id="main">

            <div id="content" style="height:1000px;">
                Hello I'm some long content
                <br/>
                <a href="/Home/Index">see short content</a>
            </div>

        </div>
        
    </div>
    <footer>I'm in a footer</footer>
        
    
</body>
</html>
